body {
  margin: 10px !important;
  background-color: black; 
  color: white !important;
}
h1 {
	color: white !important;
}
.content {
  margin-top: 0px !important;
}

#tripal-network-viewer-app {
  padding: 0px;
  margin: 0px;
}


#tripal-network-viewer-sidebar {
  position: fixed; 
  left: 10px;
  top: 150px;
  padding: 0px 10px 0px 0px;
  margin: 0px;
  width: 400px;
  height: 80vh;
  overflow-y: auto;
  scrollbar-color: dark;
  background-color: black; 
}

#tripal-network-viewer-display {
  position: fixed; 
  left: 420px;
  top: 10px;
}

#tripal-network-viewer {
  height: 100vh;
}

.tripal-network-viewer-sidebar-box {
  float: left;
  width: 100%;
  color: black;
  padding: 0px;
  margin-bottom: 10px;
  background-color: #CCCCCC;
  border-radius: 5px;
}

.tripal-network-viewer-sidebar-box-header {
  background-color: #555555;
  color: white;
  margin: 0px;
  padding: 10px;
  border-radius: 5px;
}