* {
  box-sizing: border-box;
}

body {
  margin: 10px !important;
  background-color: black; 
  color: black !important;
  overflow: hidden
}

.content {
  margin-top: 0px !important;
}

.form-control {
  color: black !important;
}

#tripal-network-viewer-app {
  padding: 0px;
  margin: 0px;
}
  
#tripal-network-viewer-loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 110;
  display: none; 
}

@keyframes tripal-network-spinner{
  100%{
    transform:rotatez(360deg);
  }
}

#tripal-network-viewer-loading-spinner::before{
  position: absolute;
  left: 40%;
  top: 30%;
  z-index: 100;
  content:"";
  color:white;
  height: 200px;
  width: 200px;
  background: transparent;
  border-radius: 75%;
  border: 100px solid blue;
  border-color:#0277BD #0277BD #0277BD #81D4FA;
  animation: tripal-network-spinner .6s infinite ease-in-out;
  box-shadow: 0px 0px 40px -2px skyblue;
  opacity: .50;
}


#tripal-network-viewer-loading img {
  position: absolute;
  left: 50vw;
  top: 10vh;
  z-index: 100;
}

#messages {
  position: absolute !important;
  left: 25vh !important;
  top: 10vh !important;
  width: 75vh !important;
  z-index: 1000 !important;
}

h1 {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 2em !important;
  color: black !important;
  margin: 10px 0px 10px 0px !important;
  padding: 0px !important;
}

h2 {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 1.5em !important;
  color: black !important;
  margin: 10px 0px 10px 0px !important;
  padding: 0px !important;
}

h3 {
  color: black !important;
  margin: 10px 0px 10px 0px !important;
  padding: 0px !important;
}

/** 
  NAVIGATION BAR DEFAULTS 
**/
#tripal-network-viewer-navbar {
  position: absolute; 
  left: 0px;
  top: 0px;
  margin: 0px;
  height: 100vh;
  width: 60px;
  z-index: 100;
  background-color: #444444;
}

.tripal-network-viewer-navbar-icon {
  height: 30px;
  width: 30px;
  z-index: 110;
  margin: 10px 15px 15px 15px;
  opacity: 0.5;
  cursor: pointer; 
}

/** 
  SIDE BAR DEFAULTS 
**/
#tripal-network-viewer-sidebar-toggle {
  position: absolute;
  left: 60px;
  top: 0px; 
  z-index: 90;
  width: 440px;
  height: 40px;
  background-color: #DDDDDD;
  cursor: pointer; 
  border-radius: 0px 15px 15px 00px;
}

#tripal-network-viewer-slide-icons {
  float: right;
  height: 20px;
  width: 40px;
  z-index: 120;
  margin: 10px 10px 10px 10px;
}
#tripal-network-viewer-slide-icons img {
  float: right;
  height: 20px;
  width: 20px;
  margin: 0px 0px 0px 0px;
}

#tripal-network-viewer-sidebar {
  position: absolute; 
  left: 60px;
  top: 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 400px;
  overflow-y: auto;
  z-index: 100;
  background-color: #EEEEEE;
}

#tripal-network-viewer-sidebar-header {
  border-bottom: 1px solid #888888; 
  padding-bottom: 10px;
}

#tripal-network-viewer-sidebar-boxes {
  padding: 10px;
}
.tripal-network-viewer-sidebar-box {
  width: 100%;
  color: black;
  padding: 0px;
  margin-bottom: 0px;
  display: none;
}
.tripal-network-viewer-sidebar-box select {
  width: 100%;
}
.tripal-network-viewer-sidebar-box input.form-text {
  width: 95%;
}

/** 
  VIEWER DEFAULTS 
**/
#tripal-network-viewer {
  height: 100%;
  width: 100%;
}
#tripal-network-viewer-display {
  position: absolute; 
  left: 460px;
  top: 0px;
  height: 100%;
  z-index: 0;
}

/** 
  NODE DETAILS DEFAULTS 
**/
#tripal-network-viewer-node-details-details {
  overflow-x: auto;
  margin-bottom: 10px;
}

#tripal-network-data-edge-table {
  overflow-x: auto;
}